<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.idocnet.inos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".UserInfoActivity"></activity>
        <activity android:name=".MessengerPrivateActivity" />
        <activity android:name=".AllContactActivity" />
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.BaseMenuActivity" />
        <activity android:name=".AddParticipantsActivity" />
        <activity android:name=".AddInfoActivity" />
        <activity android:name=".RepeatActivity" />
        <activity android:name=".RemindActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".BeforeEventActivity" />
        <activity android:name=".EndActivity" />
        <activity android:name=".ChooseColorActivity" />
        <activity android:name=".VisibilityActivity" />
        <activity android:name=".EventTypeActivity" />
        <activity android:name=".SettingMessageActivity" />
    </application>

</manifest>